<div class="d-flex flex-column mt-4">
  <div class="card align-self-center w-50">
    <h4 class="card-header text-center">Student List</h4>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
            <th scope="col">Grades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (student of students; track student) {
          <tr>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.birthDay }}</td>
            <td>
              <button type="button" class="btn btn-sm btn-warning me-1" (click)="seeGrades(student.id, false)">
                Grades
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-primary me-1" (click)="editStudent(student)">
                Edit
              </button>
              <button type="button" class="btn btn-sm btn-danger" (click)="removeStudent(student)">
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-info" (click)="addNewStudent()">
        Add New Student
      </button>
    </div>
  </div>

  @if (mode !==  ModeEnum.NON) {
  <div class="card align-self-center w-50 mt-4">
    <h4 class="card-header text-center">Add/Edit Student</h4>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="mb-3 row">
          <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" id="firstName" placeholder="First Name" formControlName="firstName" class="form-control"
                   [class.is-invalid]="form.controls.firstName.invalid && form.controls.firstName.touched" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName" class="form-control"
                   [class.is-invalid]="form.controls.lastName.invalid && form.controls.lastName.touched" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="gender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
            <select class="form-control" id="gender" formControlName="gender">
              <option *ngFor="let gender of ['M', 'F']"
                      [value]="gender">
                {{ gender }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="birthDay" class="col-sm-2 col-form-label">Birth Day</label>
          <div class="col-sm-10">
            <input type="datetime-local" id="birthDay" placeholder="BirthDay" formControlName="birthDay" class="form-control"
                   [class.is-invalid]="form.controls.birthDay.invalid && form.controls.birthDay.touched" />
          </div>
        </div>
        <div class="mb-1 row">
          <label for="birthDay" class="col-sm-2 col-form-label">Grades</label>
          <div class="col-sm-2">
            <button type="button" class="btn btn-sm btn-warning" (click)="seeGrades(this.studentId, true)">
              Grades
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" class="btn btn-sm btn-success me-1" (click)="saveStudent()">
        Submit
      </button>
      <button type="button" class="btn btn-sm btn-warning" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
  }
</div>
